/*
OpenApp API

IoT Device Management (Gates/Doors/Provisioning) API

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)

// VirtualAccessAPIService VirtualAccessAPI service
type VirtualAccessAPIService service

type ApiPostVirtualAccessDirectoryListingEnrichRequest struct {
	ctx           context.Context
	ApiService    *VirtualAccessAPIService
	xOrg          *string
	images        []*os.File
	integrationId *string
}

func (r ApiPostVirtualAccessDirectoryListingEnrichRequest) XOrg(xOrg string) ApiPostVirtualAccessDirectoryListingEnrichRequest {
	r.xOrg = &xOrg
	return r
}

// One or more door / intercom photos.
func (r ApiPostVirtualAccessDirectoryListingEnrichRequest) Images(images []*os.File) ApiPostVirtualAccessDirectoryListingEnrichRequest {
	r.images = images
	return r
}

// Virtual access integration ULID.
func (r ApiPostVirtualAccessDirectoryListingEnrichRequest) IntegrationId(integrationId string) ApiPostVirtualAccessDirectoryListingEnrichRequest {
	r.integrationId = &integrationId
	return r
}

func (r ApiPostVirtualAccessDirectoryListingEnrichRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.PostVirtualAccessDirectoryListingEnrichExecute(r)
}

/*
PostVirtualAccessDirectoryListingEnrich Method for PostVirtualAccessDirectoryListingEnrich

Enrich directory listing data via AI. Quota: consumes 1 from `ai_requests` (unit: count, per day and per month).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPostVirtualAccessDirectoryListingEnrichRequest
*/
func (a *VirtualAccessAPIService) PostVirtualAccessDirectoryListingEnrich(ctx context.Context) ApiPostVirtualAccessDirectoryListingEnrichRequest {
	return ApiPostVirtualAccessDirectoryListingEnrichRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *VirtualAccessAPIService) PostVirtualAccessDirectoryListingEnrichExecute(r ApiPostVirtualAccessDirectoryListingEnrichRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VirtualAccessAPIService.PostVirtualAccessDirectoryListingEnrich")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/virtual-access/directory-listing-enrich"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xOrg == nil {
		return localVarReturnValue, nil, reportError("xOrg is required and must be specified")
	}
	if r.images == nil {
		return localVarReturnValue, nil, reportError("images is required and must be specified")
	}
	if r.integrationId == nil {
		return localVarReturnValue, nil, reportError("integrationId is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org", r.xOrg, "simple", "")
	var imagesLocalVarFormFileName string
	var imagesLocalVarFileName string
	var imagesLocalVarFileBytes []byte

	imagesLocalVarFormFileName = "images"
	imagesLocalVarFile := r.images

	if imagesLocalVarFile != nil {
		// loop through the array to prepare multiple files upload
		for _, imagesLocalVarFileValue := range imagesLocalVarFile {
			fbs, _ := io.ReadAll(imagesLocalVarFileValue)

			imagesLocalVarFileBytes = fbs
			imagesLocalVarFileName = imagesLocalVarFileValue.Name()
			imagesLocalVarFileValue.Close()
			formFiles = append(formFiles, formFile{fileBytes: imagesLocalVarFileBytes, fileName: imagesLocalVarFileName, formFileName: imagesLocalVarFormFileName})
		}
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "integration_id", r.integrationId, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
