/*
OpenApp API

IoT Device Management (Gates/Doors/Provisioning) API

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// AIAPIService AIAPI service
type AIAPIService service

type ApiPostAiTranslateLocaleContentRequest struct {
	ctx                           context.Context
	ApiService                    *AIAPIService
	xOrg                          *string
	translateLocaleContentRequest *TranslateLocaleContentRequest
}

func (r ApiPostAiTranslateLocaleContentRequest) XOrg(xOrg string) ApiPostAiTranslateLocaleContentRequest {
	r.xOrg = &xOrg
	return r
}

func (r ApiPostAiTranslateLocaleContentRequest) TranslateLocaleContentRequest(translateLocaleContentRequest TranslateLocaleContentRequest) ApiPostAiTranslateLocaleContentRequest {
	r.translateLocaleContentRequest = &translateLocaleContentRequest
	return r
}

func (r ApiPostAiTranslateLocaleContentRequest) Execute() (*TranslateLocaleContentResponse, *http.Response, error) {
	return r.ApiService.PostAiTranslateLocaleContentExecute(r)
}

/*
PostAiTranslateLocaleContent Method for PostAiTranslateLocaleContent

Translate localized content via AI. Quota: consumes 1 from `ai_requests` (unit: count, per day and per month).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPostAiTranslateLocaleContentRequest
*/
func (a *AIAPIService) PostAiTranslateLocaleContent(ctx context.Context) ApiPostAiTranslateLocaleContentRequest {
	return ApiPostAiTranslateLocaleContentRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TranslateLocaleContentResponse
func (a *AIAPIService) PostAiTranslateLocaleContentExecute(r ApiPostAiTranslateLocaleContentRequest) (*TranslateLocaleContentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TranslateLocaleContentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIAPIService.PostAiTranslateLocaleContent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ai/translate-locale-content"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xOrg == nil {
		return localVarReturnValue, nil, reportError("xOrg is required and must be specified")
	}
	if r.translateLocaleContentRequest == nil {
		return localVarReturnValue, nil, reportError("translateLocaleContentRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Org", r.xOrg, "simple", "")
	// body params
	localVarPostBody = r.translateLocaleContentRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
